body {
  background-color: MALEFICIO ; 
  color: black;          
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

img {
  width: 400px;   /* Tamaño reducido de la imagen */
  height: auto;
  border: 2px solid black;
  margin-top: 20px;
}
